.SongCard {
	display: flex;
	/* flex-direction: column; */
	flex-direction: row;
	justify-content: space-between;

	cursor: pointer;

	border: 2px solid rgba(255, 255, 255, 0);
	border-radius: 8px;
	padding: .5rem;

	transition: all 0.1s ease-in-out;
	border: 2px solid #ddd;
	border-radius: 8px;

	&:hover {
		transform: scale(1.01);
		background:
			linear-gradient(to right,
				hsl(240, 40%, 20%),
				hsl(260, 40%, 20%));
	}

}

.title_artist_container {
	flex-grow: 1;
}

.duration_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.title {
	/* margin-bottom: 0.5rem; */
	/* text-decoration: underline; */
}

.artist {
	margin: 0.25rem 0;
	font-style: italic;
	color: #aaa;
}

.duration {
	font-size: 0.875rem;
	color: #aaa;
}