/* .SongsList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
	padding: 1rem;
}
 */

 .SongsList {
	display: flex;
	flex-direction: column;

	justify-content: center;
	/* flex-wrap: wrap; */
	gap: .6rem;
	padding: 1rem;
	width: 80%;
 }
