.App {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: max-content;
  min-height: 100vh;
}

.App-Title {
  font-family: "Lobster", sans-serif;
  /* border-bottom: 2px solid whitesmoke;
  padding: .5rem 0; */
}
