*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}
/* 
body {
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", sans-serif;
}

h1{
  font-size: 3.6rem;
}