*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

body {
  background-color: #101012;
  color: whitesmoke;
}


h1{
  font-size: 3.6rem;
}

h2{
  font-size: 2.488rem;
}

h3{
  font-size: 1.4rem;
}

h4{
  font-size: 1rem;
}
